* {
	box-sizing: border-box;
}

body {
	margin: 0;
	color: #2d2d2d;
	font-size: 16px;
	line-height: 1.75;
	font-family: Raleway;
}

.container {
	padding: 0 5%;
	width: 100%;
	text-align: center;
}

.logocart {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-bottom: .5rem;
	padding-top: .5rem;
}

.logo {
	display: block;
	height: 75px;
	width: 150px;
}

.navbar li {
	display: inline-block;
	font: playfair;
}	

.navtext {
	padding: 0;
}

.navlink {
	color: #e2574c;
	text-decoration: none;
	margin-right: 15px;
	margin-left: 15px;
}

.cart {
	height: 60px;
}

.banner {
	height: 560px;
}

.girl {
    max-height: 560px;
    position: absolute;
    margin-left: -8%;
}

.bannertext {
	color: white;
	position: relative;
	padding-top: 250px;
	line-height: 0;
	font-size: 20px;
}

.springsummer {
	font-size: 50px;
}

.flowers {
	position: absolute;
    max-height: 560px;
    width: 100%;
}

.heading {
	font-family: Playfair;
	font-size: 35px;
}

.italic {
	font-style: italic;
}

.bold {
	font-weight: bold;
}

.hand-craftedstyles {
	margin-bottom: 50px;
}

#shop {
	display: flex;
	flex-direction: column;
}

.boxes {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 205px;
	position: relative;
}

.box25 {
	width: 25%;
	height: 100%;
	
}

.box50 {
	width: 50%;
	height: 100%;
	
}

.boximage50 {
	border-right: 1.25px solid white;
	border-bottom: 1.25px solid white;
	border-top: 1.25px solid white;
	border-left: 1.25px solid white;
	width: 100%;
	height: 100%;
}

.boximage25 {
	border-right: 1.25px solid white;
	border-bottom: 1.25px solid white;
	border-top: 1.25px solid white;
	border-left: 1.25px solid white;
	width: 100%;
	height: 100%;
}

.text150 {      
    color: white;
    position: absolute;
    top: 30%;
    left: 22.5%;
}

.text225 {        
	color: white;
	position: absolute;
	top: 30%;
	right: 32.5%;
}

.text325 {          
	color: white;
	position: absolute;
	top: 30%;
	right: 7.5%;
}

.text425 {        
	color: white;
	position: absolute;
	top: 30%;
	left: 10%;
}

.text525 {        
	color: white;
	position: absolute;
	top: 30%;
	left: 35%;
}

.text650 {      
    color: white;
    position: absolute;
    top: 30%;
    right: 18%;
}

.product {
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-width: 300px;
	max-width: 25vw;
	height: 550px;
}

.productimage {
	width: 100%;
	height: 300px;
}

.type {
	color: #969696;
}

.price {
	color: #969696;
}

.name {
	color: #e2574c;
	font-family: Playfair;
	font-size: 16px;
}

.apparel {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
}

.sign-up {
	height: 292px;
}

.waves {	
    position: absolute;
    width: 100%;
    clip: rect(600px,1600px,1000px,0px);
    margin-top: -600px;
}

.sign-uptext {
	position: relative;
	color: white;
	top: 25px;
}

#submitform {
    height: 25px;
    width: 250px;
    position: absolute;
    background-color: white;
    display: flex;
    justify-content: space-between;
    border-radius: 25px;
    border-color: white;
    padding-bottom: 1px;
    padding-top: 1px;
    right: 42%;
    padding-left: 10px;
    padding-right: 2px;
    margin-top: 25px;
}

.button {
	border-radius: 25px;
	color: white;
	background-color: #e2574c;
	right: 1px;
	border: transparent;
}

.input-email {
	color: #969696;
    border: transparent;
    border-radius: 25px;
    text-align: left;
}

.input-subscribe {
    border: transparent;
    border-radius: 25px;
    background-color: #e2574c;
    text-align: center;
    color: white;
}

.contactmedia {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.contact {
	text-align: left;
	color: white;
	font-family: Playfair;
	font-size: 14px;
}

.contact1 {
	line-height: 2.5px;
}

.contact3 {
	color: #969696;
	line-height: 2.5px;
}

.media {
	display: flex;
	flex-direction: column;
	text-align: right;
	color: white;
	justify-content: space-between;
}

footer {
	background-color: #242424;
	padding: 4rem 0;
	margin-top: -25px;
}

@media only screen and (max-width: 1450px) {
	
	footer {
		background-color: #242424;
		margin-top: -64px;
	    padding-top: 128px;
	}
}

@media only screen and (max-width: 600px) {
	
	.container {
	    width: 100%;
	    text-align: center;
	    padding-left: 0px;
	    padding-right: 0px;
	}
	
	.logo {
		display: block;
	    height: 75px;
	    width: 125px;
	}

	.logocart {
		display: flex;
	    flex-direction: row;
	    justify-content: space-evenly;
	    align-items: center;
	    padding-bottom: .5rem;
	    padding-top: .5rem;
	}

	.navtext li:first-child {
		margin-left: -5%;
	}

	.girl {
		max-height: 387.5px;
	    position: absolute;
	    margin-left: -10%;
	}

	.banner {
		height: 378.5px;
	}

	.bannertext {
		color: white;
	    position: relative;
	    padding-top: 150px;
	    line-height: 0;
	    font-size: 20px;
	}

	.abouttext2 {
		margin-top: -20px;
	    padding-right: 10px;
	    padding-left: 10px;
	}

	.boxes {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 205px;
	position: relative;
	margin-bottom: -8.5%;
	}

	.box25 {
	    width: 25%;
	    height: 75%;
		
	}

	.box50 {
		width: 50%;
		height: 75%;
		
	}

	.boximage50 {
		border-right: 2.5px solid white;
	    border-bottom: 2.5px solid white;
	    border-top: 2.5px solid white;
	    border-left: 2.5px solid white;
		width: 100%;
		height: 100%;
	}

	.boximage25 {
		border-right: 2.5px solid white;
	    border-bottom: 2.5px solid white;
	    border-top: 2.5px solid white;
	    border-left: 2.5px solid white;
		width: 100%;
		height: 100%;
	}

	.text150 {      
	    color: white;
	    position: absolute;
	    top: 20%;
	    left: 18%;
	}

	.text225 {        
		color: white;
		position: absolute;
		top: 20%;
		right: 29.5%;
	}

	.text325 {          
		color: white;
		position: absolute;
		top: 20%;
		right: 4%;
	}

	.text425 {        
		color: white;
		position: absolute;
		top: 20%;
		left: 7.5%;
	}

	.text525 {        
		color: white;
		position: absolute;
		top: 20%;
		left: 32.5%;
	}

	.text650 {      
	    color: white;
	    position: absolute;
	    top: 20%;
	    right: 15%;
	}

	.waves {
	    width: 100%;
	    margin-top: -200px;
	    clip: rect(200px,1600px,500px,0px);
	    position: absolute;
	    height: 450px;
	}

	.sign-uptext {
		position: relative;
		color: white;
		top: 0px;
	}

	#submitform {
		height: 25px;
	    width: 250px;
	    position: absolute;
	    background-color: white;
	    display: flex;
	    justify-content: space-between;
	    border-radius: 25px;
	    border-color: white;
	    padding-bottom: 1px;
	    padding-top: 1px;
	    right: 31%;
	    padding-left: 10px;
	    padding-right: 2px;
	    margin-top: 25px;
	}

	footer {
		padding-top: 30px;
	    padding-bottom: 30px;
	    margin-top: -45px;
	}

	.contactmedia {
		width: 100%;
	    text-align: center;
	    padding-left: 35px;
	    padding-right: 35px;
	}
}


