* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0
	border:0;
	color: #2d2d2d;
	font-size: 16px;
	line-height: 1.75;
	font-family: Raleway;
	max-width: 1140px;
}

.container {
	padding: 0 2%;
	text-align: center;
}

.logocart {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-bottom: .5rem;
	padding-top: .5rem;
}

.logo {
	display: block;
	height: 75px;
	width: 150px;
}

.navbar li {
	display: inline-block;
	font: playfair;
}	

.navtext {
	padding: 0;
}

.navlink {
	color: #e2574c;
	text-decoration: none;
	margin-right: 15px;
	margin-left: 15px;
}

.cart {
	height: 60px;
}

.banner {
	height: 560px;
}

.girl {
	max-height: 560px;
	position: absolute;
}

.bannertext {
	color: white;
	position: relative;
	padding-top: 250px;
	line-height: 0;
}

.springsummer {
	font-size: 50px;
}

.flowers {
	position: absolute;
	max-height: 560px;
	width: 100%;
}

.heading {
	font-family: Playfair;
	font-size: 35px;
}

.italic {
	font-style: italic;
}

.bold {
	font-weight: bold;
}

.hand-craftedstyles {
	margin-bottom: 50px;
}
#shop {
	display: flex;
	flex-direction: column;
}

.boxes {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 1140px;
	height: 205px;
	position: relative;
}

.box25 {
	width: 25%;
	height: 100%;
	
}

.box50 {
	width: 50%;
	height: 100%;
	
}

.boximage50 {
	border-right: 1.25px solid white;
	border-bottom: 1.25px solid white;
	border-top: 1.25px solid white;
	border-left: 1.25px solid white;
	width: 100%;
	height: 100%;
}

.boximage25 {
	border-right: 1.25px solid white;
	border-bottom: 1.25px solid white;
	border-top: 1.25px solid white;
	border-left: 1.25px solid white;
	width: 100%;
	height: 100%;
}

.text150 {      
    color: white;
    position: absolute;
    top: 30%;
    left: 22.5%;
}

.text225 {        
	color: white;
	position: absolute;
	top: 30%;
	right: 32.5%;
}

.text325 {          
	color: white;
	position: absolute;
	top: 30%;
	right: 7.5%;
}

.text425 {        
	color: white;
	position: absolute;
	top: 30%;
	left: 10%;
}

.text525 {        
	color: white;
	position: absolute;
	top: 30%;
	left: 35%;
}

.text650 {      
    color: white;
    position: absolute;
    top: 30%;
    right: 18%;
}

.product {
	display: inline-block;
	width: 24%;
}

.productimage {
	width: 100%;
}

.type {
	color: #969696;
}

.price {
	color: #969696;
}

.name {
	color: #e2574c;
	font-family: Playfair;
	font-size: 16px;
}

.apparel {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
}

.sign-up {
	height: 292px;
}

.waves {	
	position: absolute;
	height: 292px;
	width: 100%;
}

.sign-uptext {
	position: relative;
	color: white;
}

.subscribe {
	height: 25px;
	width: 250px;
	position: absolute;
	background-color: white;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	border-radius: 25px;
	border-color: white;
	padding-inline-start: 2.5px;
	padding-inline-end: 1.5px;
	padding-bottom: 1px;
	padding-top: 1px;
	right: 40%;
}

button {
	border-radius: 25px;
	color: white;
	background-color: #e2574c;
	right: 1px;
	border: transparent;
}

input {
	color: #969696;
	border: transparent;
	border-radius: 25px;
	left: 1px;
	text-indent: 10px;
}

.contactmedia {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.contact {
	text-align: left;
	color: white;
	font-family: Playfair;
	font-size: 14px;
}

.contact1 {
	line-height: 2.5px;
}

.contact3 {
	color: #969696;
	line-height: 2.5px;
}

.media {
	display: flex;
	flex-direction: column;
	text-align: right;
	color: white;
	justify-content: space-between;
}

footer {
	background-color: #242424;
	padding: 4rem 0;
}

